@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #fbd9c0;
  font-family: "Poppins";
  position: relative;
}
.form {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    height: 20em;
    width: 40em;
    border-radius: 50px;
    background: #fbd9c0;
    box-shadow: 20px 20px 60px #d5b8a3, -20px -20px 60px #fffadd;
    margin-top: 5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .input {
      width: 80%;
      height: 3em;
      margin: 1em 0;
      border-radius: 50px;
      padding: 0 1em;
      font-size: 1.2rem;
      color: rgba($color: #333, $alpha: 0.5);
      background: linear-gradient(145deg, #f5d9c5, #ffe8cd);
      box-shadow: 5px 5px 20px #d5b8a3, -5px -5px 20px #fffadd;
      border: none;
      outline: none;
      &::placeholder {
        opacity: 0.7;
      }
    }
    .btn {
      width: 10em;
      height: 3em;
      border-radius: 50px;
      background: linear-gradient(145deg, #ffe8cd, #e2c3ad);
      box-shadow: 5px 5px 10px #d5b8a3, -5px -5px 10px #fffadd;
      border: none;
      color: rgba($color: #333, $alpha: 0.9);
      font-size: 1.2rem;
      cursor: pointer;
      &:active,
      &:focus {
        background: linear-gradient(145deg, #e2c3ad, #ffe8cd);
        box-shadow: 5px 5px 10px #d5b8a3, -5px -5px 10px #fffadd;
      }
    }
  }
  .todo__container {
    align-self: flex-start;
    margin-top: 5em;

    width: 100%;
    .table {
      width: 100%;
      .head {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: rgba($color: #333, $alpha: 0.9);
        .item {
          width: 20%;
          height: 3em;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid rgba($color: #333, $alpha: 0.5);
        }
      }
      .tbody {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba($color: #333, $alpha: 0.7);
        .item {
          width: 20%;
          height: 4em;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          border: 2px solid rgba($color: #333, $alpha: 0.5);
          .btn-update {
            padding: 0.5em 1em;
            border-radius: 10px;
            background: linear-gradient(145deg, #ffe8cd, #e2c3ad);
            box-shadow: 2px 2px 6px #d5b8a3, -2px -2px 6px #fffadd;
            margin-right: 0.5em;
            cursor: pointer;
          }
          .btn-delete {
            padding: 0.5em 1em;
            border-radius: 10px;
            background: linear-gradient(145deg, #ff325f, #dd2a50);
            box-shadow: 2px 2px 2px #d1284c, -2px -2px 2px #ff3666;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}
